span {
	color: rgba(151, 153, 153, 1);
}



h1 {
	color: rgba(151, 153, 153, 1);
	margin-left: -3px;
	font-size: 40px;
}

h2 {
	color: rgba(151, 153, 153, 0.8);
	margin-left: -3px;
	font-size: 25px;
}

h3 {
	color: rgba(151, 153, 153, 0.8);
	margin-left: -3px;
	font-size: 20px;
}

.textarea {
	height: 25px;
	padding: 0px;
	font-family: 'Microsoft YaHei';
	background-color: aliceblue;
	resize: none;
	border: none;
	outline: none;
}

.textarea::placeholder {
	user-select: none;
}

.Tname {
	position: absolute;
	margin-left: 438px;
	width: 178px;
	height: 25px;
	padding: 5px 10px;
	line-height: 24px;
	font-size: 16px;
	color: rgba(151, 153, 153, 1);
	border-radius: 10px;
	border: 1px solid rgba(192, 194, 194, 0.5);
}

.Tcontent {
	width: 400px;
	height: 80px;
	padding: 5px 10px;
	line-height: 24px;
	font-size: 16px;
	color: rgba(151, 153, 153, 1);
	border-radius: 10px 10px 0px 0px;

	border-top: 1px solid rgba(192, 194, 194, 0.5);
	border-left: 1px solid rgba(192, 194, 194, 0.5);
	border-right: 1px solid rgba(192, 194, 194, 0.5);
}

.Tpage {
	margin: -8px 0px;
	width: 40px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(100, 102, 102, 1);
}

.Tpage::-webkit-scrollbar {
	display: none;
}



.comment {
	font-family: 'Microsoft YaHei';
	display: block;
	padding-bottom: 50px;
	line-height: 24px;
	font-size: 16px;
}

.time {
	width: 185px;
	display: inline-block;
	color: rgba(151, 153, 153, 0.5);
	margin-top: 10px;
	white-space: nowrap;
}

.delete {
	float: right;
	color: rgba(255, 50, 50, 0.7);
	font-weight: bolder;
	cursor: pointer;
	user-select: none;
}

.delete:hover {
	text-decoration: underline;
}

.title {
	font-weight: bolder;
	display: block;
}

.content {
	display: block;
	white-space: break-spaces;
	color: rgba(151, 153, 153, 0.8);
	overflow: hidden;
}

.turn {
	font-size: 18px;
	font-weight: bolder;
	line-height: 18px;
	color: rgba(244, 183, 188, 1);
}

.pagebtn {
	float: right;
	text-align: right;
	margin-top: -8px;
	color: rgba(227, 229, 229, 1);
	user-select: none;
}

.admin {
	background-color: rgba(98, 185, 229, 0.7);
	color: white;
	padding: 0px 5px;
	margin: 0px 10px;
	line-height: 22px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: bottom;
	user-select: none;
	pointer-events: none;
}

.open {
	display: block;
	cursor: pointer;
	width: 60px;
	color: rgba(98, 185, 229, 1);
	user-select: none;
}

.sent {
	position: absolute;
	margin: 54px 16px;
	width: 200px;
	height: 36px;
	text-align: center;
	background-color: rgba(98, 185, 229, 0.7);
	color: white;
	padding: 11px 0px;
	font-size: 18px;
	line-height: 36px;
	border-radius: 10px;
	user-select: none;
	transition: 0.3s ease;
}

.sent:hover {
	background-color: rgba(98, 185, 229, 0.5);
}

.count {
	text-align: right;
	color: rgba(98, 185, 229, 0.8);
}

.bottomBox {
	position: absolute;
	margin: -11px 0px;
	display: block;
	width: 406px;
	height: 10px;
	padding: 5px 7px;
	line-height: 9px;
	border-radius: 0px 0px 10px 10px;
	border-bottom: 1px solid rgba(192, 194, 194, 0.5);
	border-left: 1px solid rgba(192, 194, 194, 0.5);
	border-right: 1px solid rgba(192, 194, 194, 0.5);
	background-color: aliceblue;
	text-align: right;
	font-size: 10px;
	user-select: none;
}

.btn1 {
	text-align: left;
	cursor: pointer;
	float: left;
	color: rgba(151, 153, 153, 0.5);
}



.message {
	position: fixed;
	z-index: 25;
	width: 100%;
	text-align: center;
	margin-top: -100px;
	pointer-events: none;
	transition: 0.5s ease-out;
}

.message-active {
	margin-top: 50px;
}

.message-box {
	display: inline-block;
	padding: 10px 10px;
	font-size: 16px;
	line-height: 15px;
	border-radius: 10px;
	pointer-events: all;
	user-select: none;
	text-align: left;
}

.message-info {
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 1);
	backdrop-filter: blur(3px);
}

.message-warn {
	background-color: rgb(255, 251, 229);
	color: rgb(92, 60, 0);
	border: 1px solid rgb(255, 245, 194);
}

.message-error {
	background-color: rgb(255, 240, 240);
	color: rgb(170, 17, 17);
	border: 1px solid rgb(255, 214, 214);
}

.Box {
	transition: 0.5s ease;
	overflow: hidden;
	opacity: 0;
}


.t-2 {
	margin-top: -15px;
	line-height: 23px;
	font-size: 16px;
}

.t-3 {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 100px;
	border-radius: 15px;
}

.t-4 {
	opacity: 0;
	width: 100px;
	height: 100px;
	border-radius: 15px;
}

.t-5 {
	width: 300px;
	height: 80px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	padding: 10px 10px;
}

.t-6 {
	font-weight: bolder;
	font-size: 20px;
	line-height: 20px;
}

.t-7 {
	color: rgba(151, 153, 153, 0.6);
	font-style: italic;
	margin-top: 5px;
	display: block;
}

.t-8 {
	color: rgba(255, 255, 255, 1);
	vertical-align: middle;
}

.t-9 {
	color: wheat;
	cursor: pointer;
}


@media screen and (max-width: 900px) {
	.main {
		margin: 10% auto;
		width: 80%;
	}

	.Tname {
		position: relative;
		margin-left: 0px;
		width: 100%;
	}

	.Tcontent	{
		width: 100%;
	}

	.bottomBox {
		position: relative;
		width: calc(100% + 6px);
	}

	.sent {
		margin: 25px -65px;
		width: 100px;
	}

	.pagebtn {
		margin-top: 20px;
		margin-right: -20px;
	}

	.t-5 {
		margin-left: 5px;
		width: 70%;
		white-space: normal;
	}

}

