
.link {
	color: rgba(151, 153, 153, 1);
	text-decoration: underline;
	text-decoration-color: rgba(151, 153, 153, 0.3);
	transition: 0.3s;
}

.link:hover {
	text-decoration-color: rgba(113, 199, 173, 1);
}



/* 	For Header
	Scale up From http://www.sucai8.cn/11713.html	  */

.link-2 {
	position: relative;
	z-index: 1;
}

.link-2 a {
	position: relative;
	display: inline-block;
}

.link-2 a::before {
	position: absolute;

	left: -10px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0px 10px;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background-color: rgba(192, 194, 194, 0.15);
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.link-2 a:hover::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


