
#player {
	display: none;
}



.Player {
	position: fixed;
	bottom: 15px;
	right: 15px;
	height: 54px;
	width: 220px;
	border-radius: 10px;
	backdrop-filter: blur(3px);
	box-shadow: 10px 10px 60px -3px rgb(var(--t-b2), 0.2);
	color: rgba(var(--t-t1), 0.8);
	opacity: 0;
	z-index: 20;
	font-size: 15px;
	line-height: 25px;
	transition: 0.4s ease-in-out;
}

.Player-active {
	opacity: 1;
}

.Player-phone {
	transform: translateX(0px) !important;
}

.Player-menu {
	display: none;
	position: absolute;
	height: 152px;
	width: 220px;
	bottom: 70px;
	right: 0px;
	z-index: 15;
	border-radius: 10px;
	background-color: rgba(var(--t-b3), 0.8);
	backdrop-filter: blur(3px);
	box-shadow: rgb(var(--t-b2), 0.1) 20px 20px 50px -3px;
	border: 1px solid rgba(var(--t-t1), 0.1);
	box-sizing: border-box;
}

.Player-inactive {
	opacity: 0;
}



.MusicName {
	position: absolute;
	width: 143px;
	margin: -49px 56px;
	color: rgba(var(--t-b3), 1);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.6);
	height: 23px;
	pointer-events: none;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#Mod {
	position: absolute;
	right: 6px;
	top: 5px;
	color: rgba(var(--t-c1), 0.8);
	font-size: 16px;
	line-height: 28px;
	user-select: none;
}

.listBTN {
	color: rgba(var(--t-t1), 0.6);
	font-size: 15px;
	line-height: 30px;
	user-select: none;
	cursor: pointer;
	transition: 0.3s;
}

.listBTN:hover {
	color: rgba(var(--t-t1), 0.8);
}

.PlayerList {
	height: 116px;
	width: 260px;
	margin: -21px 10px;
}

.PlayerListInner {
	height: 116px;
	width: 205px;
	margin: 20px 0px;
	overflow: scroll;
}

.PlayerListInner::-webkit-scrollbar:horizontal {
	display: none !important;
}

.list-item {
	color: rgba(var(--t-t1), 0.6);
	width: 180px;
	display: block;
	line-height: 23px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	transition: 0.2s;
	user-select: none;
}

#list-item-active {
	color: rgba(var(--t-c1), 1);
}

.list-line {
	position: absolute;
	border: none;
	border-top: 1px solid rgba(var(--t-t1), 0.1);
	width: 100%;
	text-align: center;
	margin: -2px 0px;
}

.MusicImgBox {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.MusicImg {
	height: 300px;
	width: 300px;
	filter: blur(15px);
	margin: -124px -40px;
	pointer-events: none;
}

.PlayerButton {
	position: absolute;
	margin: -54px 25px;
	right: 150px;
	width: 36px;
	height: 36px;
	z-index: 10;
	border-radius: 50%;
	background-color: rgba(var(--t-b2), 0.2);
	background-position: center;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}

.PlayerButton:hover {
	background-color: rgba(var(--t-b2), 0.3);
	opacity: 1;
}

.PlayerButton-pause {
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADHSURBVFhH7ZexDcJAEAQfRBGUARmJcyKqgKqgCSQKQHJCRguEFIH07Frv7CW8vrMccCON3iYa31/CIuec5mRZztmIgAiIADVgB5/wClf8wYoasIcbeIAtXEMTlivop8FzNNYd4AQ4iWP3NgKPJeQunIvyXngE9HAK8l54BhB5L7wDiLQXUwRITBHwhg28dG8/8A54wG05B+EZwC/ml3MCg/EI+MBTkc8S1gDpvmtYAuT7rqEG3OEL3qB83zXif0EERMC/B6T0BY/uIA9OJ2IOAAAAAElFTkSuQmCC);
}

.PlayerButton-play {
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAACFSURBVFhH7ZdBCoAwDAQTX+DRg4/yGf7Ui3+qCQ3YlCrxYinswJKiC51TRE4p0d8ws52IJpvdgAAEhhKYJZvNJyIdj+6BYA6JorP1XhPp2M2ZL4uoLN6bxBPpYBE5IAABCEAAAkMJnNVsEel46m/1S1bJLlmKZ3UiHbs5gx8TCECgswDRBSCAwu78Wt3rAAAAAElFTkSuQmCC);
}

.bar0 {
	position: relative;
	width: 100%;
	height: 2px;
	bottom: -8px;
	background-color: rgba(var(--t-b1), 0.3);
	pointer-events: none;
	transition: 0.5s;
}

.bar1 {
	height: 2px;
	background-color: rgba(var(--t-b2), 0.2);
	transition: 0.5s;
}

.bar2 {
	position: relative;
	width: calc(100% - 8px);
	left: 4px;
	height: 10px;
	bottom: 10px;
	border-radius: 20px;
	overflow: hidden;
	cursor: text;
}

.bar2:hover .bar1 {
	background-color: rgba(var(--t-b2), 0.6);
}

.bar2:hover .bar0 {
	background-color: rgba(var(--t-b1), 0.6);
}

.list-head {
	padding: 5px 10px;
	font-weight: bolder;
	font-size: 16px;
	color: rgba(var(--t-t1), 0.2);
	line-height: 35px;
	user-select: none;
}

.MusicShow0 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 11;
	top: 0px;
}

.MusicShow1 {
	position: absolute;
	top: -30px;
	right: 0px;
	font-size: 20px;
	line-height: 20px;
	color: rgba(var(--t-r), 1);
}

.Player-menu-info {
	display: none;
	position: absolute;
	height: 85px;
	width: 220px;
	bottom: 70px;
	right: 0px;
	z-index: 15;
	border-radius: 10px;
	background-color: rgba(var(--t-b3), 0.8);
	backdrop-filter: blur(3px);
	box-shadow: rgb(var(--t-b2), 0.1) 20px 20px 50px -3px;
	border: 1px solid rgba(var(--t-t1), 0.1);
	box-sizing: border-box;
}

.Player-menu-info-title {
	height: 63px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 21px;
	white-space: nowrap;
}

.Player-menu-info-button {
	color: rgba(var(--t-c1), 1);
	user-select: none;
	cursor: pointer;
}

.Player-menu-sound0 {
	position: absolute;
	height: 20px;
	width: 40px;
	right: 28px;
	top: 7px;
	font-size: 14px;
	color: rgba(var(--t-t1), 0.4);
	line-height: 20px;
	user-select: none;
	text-align: right;
}

.Player-menu-sound1 {
	position: absolute;
	right: 30px;
	top: 5px;
	height: 20px;
	width: 20px;
	overflow: scroll;
}

.Player-menu-sound1::-webkit-scrollbar {

	display: none;
}

.Player-menu-sound2 {
	position: absolute;
	height: 1200px;
	width: 20px;
}

.lrcBox {
	display: none;
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(var(--t-b4), 1);
}

.lrcImg {
	position: fixed;
	aspect-ratio: 1 / 1;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 25;
	filter: brightness(0.4);
	opacity: 0;
	transition: 1s;
	user-select: none;
	pointer-events: none;
}

.lrc {
	position: fixed;
	z-index: 35;
	width: 700px;
	height: 100%;
	overflow: scroll;
	left: calc(50% - 350px);
	white-space: break-spaces;
	word-break: break-all;
}

.lrc-blur {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 30;
	backdrop-filter: blur(30px);
}

.lrc div {
	padding-bottom: 10px;
	font-size: 22px;
	line-height: 30px;
	color: rgba(var(--t-b1), 0.2);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.2);
	font-family: 'Microsoft YaHei';

	transition: 0.3s;
}

.lrc br {
	user-select: none;
	pointer-events: none;
}

.lrcT {
	float: right;
	width: 60px;
	user-select: none;
	color: rgba(var(--t-b1), 0);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0);
	cursor: pointer;
	transition: 0.3s;
}

.lrc div:hover .lrcT {
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.2) !important;
	color: rgba(var(--t-b1), 0.2);
}

.lrc::-webkit-scrollbar {
	display: none !important;
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.6) !important;
}


.lrcClose {
	position: fixed;
	color: rgba(var(--t-b1), 0.2);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.2);
	backdrop-filter: blur(3px);
	top: 15px;
	left: 15px;
	width: 35px;
	height: 25px;
	border-radius: 100%;
	padding: 10px 5px;
	z-index: 35;
	font-size: 34px;
	line-height: 33px;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
}

.lrcClose:hover {
	color: rgba(var(--t-b1), 0.4);
}

.highlight {
	color: rgba(var(--t-b1), 1) !important;
}

.highlight span,
.highlight trans {
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4) !important;
	color: rgba(var(--t-b1), 0.6) !important;
}

trans {
	display: block;
	font-size: 16px;
	color: rgba(var(--t-b1), 0.1);
	transition: 0.3s;
}



@media screen and (max-width: 850px)  {
	.lrc {
		width: calc(100% - 40px);
		left: 20px;
	}
	.lrcImg {
		left: -20%;
		width: unset;
		height: 100%;
	}
	.lrcT {
		display: none;
	}

}



