/* R G B
	绿 113, 199, 173
	粉 244, 183, 188
	白 244, 243, 241
	灰 192, 194, 194
	黑 151, 153, 153
	蓝 217, 227, 252
*/



.underline {
	text-decoration-color: rgba(244, 183, 188, 1);
}

.t-1 {
	font-size: 35px;
	color: rgba(113, 199, 173, 1);
}

.t-2 {
	font-size: 22px;
	color: rgba(151, 153, 153, 1);
}

.t-3 {
	width: 80%;
}

.t-4 {
	width: 210px;
	font-size: 20px;
	line-height: 35px;
	text-align: right;
	padding: 0px 10px;
	color: rgba(2, 114, 164, 0.8);
	white-space: nowrap;
	font-family: 微软雅黑;
	user-select: text;
}

.t-5 {
	height: 0px;
	overflow: hidden;
	transition: 0.5s ease;
}

.t-6 {
	padding: 10px 0px;
	height: 200px;
	width: 600px;

	display: inline-block;
	vertical-align: top;
	transition: 0.5s ease;
	border: 1px solid rgba(192, 194, 194, 0);
}

.t-7 {
	border: 1px solid rgba(192, 194, 194, 0.5) !important;
	border-radius: 30px;
}

.t-8 {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.t-9 {
	height: 16px;
	width: 90px;
	color: rgba(244, 243, 241, 1);
	background-color: rgba(113, 199, 173, 1);
	border-radius: 30px;

	font-size: 90px;
	padding: 82px 45px;
	user-select: none;
}

.t-10 {
	width: 180px;
	margin: 20px 10px;
	word-wrap: break-word;
	white-space: normal;
	user-select: text;
}

.t-11 {
	color: rgba(100, 102, 102, 1);
	font-size: 30px;
	line-height: 50px;
}

.t-12 {
	width: 560px;
	word-wrap: break-word;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}

.t-13 {
	width: 200px;
	height: 200px;
	background-color: rgba(192, 194, 194, 0.2);
	border-radius: 30px;

	margin: -80px 30px;
	user-select: none;
	display: inline-block;
	vertical-align: top;
}

.t-14 {
	width: 200px;
	border-radius: 30px;
	opacity: 0;
}

.t-15 {
	text-align: center;
	font-size: 15px;
	margin: -10px 0px;
	color: rgba(151, 153, 153, 0.5);
}

.t-16 {
	display: inline-block;
	vertical-align: top;
	width: 315px;
	margin: 20px;
	word-wrap: break-word;
	white-space: normal;
	user-select: text;
}

.t-19 {
	height: 200px;
	transition: 0.5s ease;
}

.t-20 {
	opacity: 0;
	height: 0px;
	overflow: hidden;
	transition: 0.5s ease;
	user-select: none;
	white-space: nowrap;
}

.t-21 {
	width: 250px;
	padding: 15px 20px;
	background-color: rgba(244, 243, 241, 1);
	border-radius: 30px;

	user-select: none;
	display: inline-block;
	vertical-align: top;
}

.t-22 {
	margin: 0px 30px;
}

#hbr {
	display: none;
}

@media screen and (max-width: 900px) {
	.main {
		margin: 10% auto;
		width: 96%;
	}
	#ibox {
		height: 600px !important;
	}
	.t-4 {
		width: 100px;
	}
	.t-7 {
		width: 97%;
		margin: 120px -200px;
	}
	.t-9 {
		height: 28px;
		padding: 36px 25px;
		width: 50px;
		font-size: 50px;
	}
	.t-10 {
		margin: -110px 110px;
	}
	.t-12 {
		width: 100%;
	}
	.t-14 {
		margin: 90px -15%;
		width: 100%;
	}
	.t-16 {
		margin: -35px 0px;
		width: 45%;
	}
	.t-22 {
		border-radius: 0px 0px 30px 30px;
		margin: 205px -296px;
		padding: 7px 20px;
	}

	.t-13,
	.t-15 {
		display: none;
	}
	#hbr {
		display: block;
	}
}



@keyframes fade-in-1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in-1 {
	animation: fade-in-1 1s ease-in;
	animation-fill-mode:forwards;
}


