
@media screen and (max-width: 1200px) and (min-width: 850px)  {
	.box-2 {
		left: 12%;
	}

	.t-3 {
		font-size: 70px;
	}

	.t-39 {
		font-size: 26px;
		margin-top: 85px;
	}

}



@media screen and (max-width: 850px)  {

	.f-2 {
		/* 仅在 PC 端显示 */
		display: none;
	}

	.f-3 {
		/* 仅在移动端显示 */
		display: unset;
	}

	.t-10,
	.t-12,
	.t-20,
	.t-23,
	.footer-box-1 {
		display: none;
	}

	.t-1 {
		margin: 15% auto;
		font-size: 20px;
		width: 85%;
	}

	.t-3 {
		font-size: 36px;
		white-space: nowrap;
	}

	.t-39 {
		font-size: 16px;
		margin-top: 65px;
		margin-left: 5px;
	}

	.t-16 {
		margin-left: 5px;
	}

	.t-21 {
		margin-top: 75px;
		margin-left: 10px;
	}

	.t-24 {
		margin: 65px 25px;
		font-size: 17px;
		line-height: 25px;
	}

	.t-26 {
		font-size: 40px;
	}

	.t-30 {
		font-size: 45px;
		line-height: 45px;
	}

	.t-32 {
		font-size: 35px;
		line-height: 35px;
		margin: 8px 10px;
	}

	.t-33 {
		margin-left: 0px;
	}

	.t-35 {
		width: 160px;
	}

	.t-36 {
		font-size: 20px;
		right: 15px;
		left: unset;
	}

	.t-37 {
		color: rgba(var(--t-t1), 0.6);
		text-shadow:	-2px -2px 0 rgba(var(--t-b1), 1),
				-2px 2px 0 rgba(var(--t-b1), 1),
				2px -2px 0 rgba(var(--t-b1), 1),
				2px 2px 0 rgba(var(--t-b1), 1),
				0 -2px 0 rgba(var(--t-b1), 1),
				0 2px 0 rgba(var(--t-b1), 1),
				2px 0 0 rgba(var(--t-b1), 1),
				-2px 0 0 rgba(var(--t-b1), 1);
	}

	.menu-btn-1 {
		position: absolute;
	}

	.box-2 {
		position: fixed;
		width: 180px;
		height: 100px;
		bottom: 80px;
		left: 40px;
	}

	.Avatar {
		position: fixed;
		width: 90%;
		object-fit: cover;
		object-position: -120px 0px;
		transform: none !important;
	}

	.footer-inner {
		width: 100%;
	}

	.menu {
		padding-right: 0px;
	}

}