
@media screen and (max-width: 1200px) and (min-width: 850px)  {
	.box-2 {
		left: 12%;
	}

	.t-3 {
		font-size: 70px;
	}

	.t-39 {
		font-size: 30px;
		margin-top: 85px;
	}

	.t-4 {
		font-size: 20px;
		margin-top: 220px;
	}
}



@media screen and (max-width: 850px)  {

	.f-2 {
		/* 仅在 PC 端显示 */
		display: none;
	}

	.f-3 {
		/* 仅在移动端显示 */
		display: unset;
	}

	.t-10,
	.t-12,
	.t-20,
	.t-23,
	.t-39,
	.t-40,
	.footer-box-1 {
		display: none;
	}

	.t-1 {
		margin: 15% auto;
		font-size: 20px;
		width: 85%;
	}

	.t-3 {
		font-size: 40px;
		margin: -5px 135px;
		white-space: nowrap;
	}

	.t-4 {
		margin: 65px 140px;
		width: 55%;
		font-size: 15px;
		line-height: 25px;
	}

	.t-16 {
		margin-left: 5px;
	}

	.t-21 {
		margin-top: 75px;
		margin-left: 10px;
	}

	.t-24 {
		margin: 65px 25px;
		font-size: 17px;
		line-height: 25px;
	}

	.t-26 {
		font-size: 40px;
	}

	.t-30 {
		font-size: 45px;
		line-height: 45px;
	}

	.t-32 {
		font-size: 35px;
		line-height: 35px;
		margin: 8px 10px;
	}

	.t-33 {
		margin-left: 0px;
	}

	.t-35 {
		width: 160px;
	}

	.t-36 {
		font-size: 16px;
		right: 20px;
		left: unset;
	}

	.menu-btn-1 {
		position: absolute;
	}

	.box-2 {
		width: 80%;
		height: 120px;
			top: calc(50% - 50px);
		left: 10%;
	}

	.box-4 {
		font-family: 'Poppins Regular', 'Microsoft YaHei'; 
		line-height: 25px;
		font-size: 16px;
		width: 80%;
	}

	.Avatar-border {
		float: left;
		height: 120px;
		width: 120px;
		border-radius: 28px;
		border: 1px solid rgba(192, 194, 194, 0.5);
	}

	.Avatar {
		position: absolute;
		left: 1px;
		top: 1px;
		height: 120px;
		width: 120px;
		border-radius: 28px;
	}

	.footer-inner {
		width: 100%;
	}

	.menu {
		padding-right: 0px;
	}

}