.text_1 {
	position: absolute;
	left: 320px;
	top: 110px;
	font-size: 30px;
	color: rgba(100, 102, 102, 0.8);
	/* old: 244, 243, 241 */
	cursor: url("resource/text.png"), auto;
}

.text_2 {
	position: absolute;
	left: 320px;
	top: 810px;
	font-size: 30px;
	color: rgba(100, 102, 102, 0.8);
}

.text_3 {
	position: fixed;
	right: 100px;
	top: 6px;
	font-size: 10px;
	user-select: none;
	color: rgba(100, 102, 102, 0.8);
}

/* 页脚文本 */
.text_4 {
	font-size: 20px;
	user-select: none;
	color: rgba(100, 102, 102, 0.8);
	opacity: 0.8;
}

.text_5 {
	font-size: 20px;
	user-select: none;
	color: rgb(244, 183, 188);
}