span {
	color: rgba(151, 153, 153, 1);
}

h1 {
	color: rgba(151, 153, 153, 1);
	font-size: 40px;
}

.imgBox1 {
	aspect-ratio: 3364 / 2126;
	width: 100%;
	display: inline-block;
}

.imgBox1 img {
	border-radius: 10px;
	width: 100%;
	opacity: 0;
}

.imgBox2 {
	aspect-ratio: 2470 / 3475;
	width: calc(50% - 10px);
	display: inline-block;
	vertical-align: top;
}

.imgBox2 img {
	border-radius: 10px;
	width: 100%;
	opacity: 0;
}

.time1 {
	color: rgba(227, 229, 229, 1);
	float: right;
}

.time2 {
	color: rgba(192, 194, 194, 1);
}



@media screen and (max-width: 900px) {
	.imgBox2 {
		width: calc(50% - 5px);
	}
	.time1 {
		font-size: 24px;
	}
}

