span {
	color: rgba(151, 153, 153, 1);
}

h1 {
	color: rgba(151, 153, 153, 1);
	font-size: 40px;
}

.p-1 {
	font-size: 20px;
	line-height: 28px;
}

img {
	opacity: 0;
}

code {
	color: rgba(151, 153, 153, 0.8);
	font-size: 20px;
}

li {
	margin-left: 8px;
	color: rgba(151, 153, 153, 0.7);
}

textarea {
	outline: none;
	border-radius: 15px;
	resize: none;
	border: 1px rgba(151, 153, 153, 0.2) solid;
	color: rgba(151, 153, 153, 1);
	font-size: 15px;
	line-height: 20px;
	font-family: 'Microsoft YaHei';
}

.ta-1 {
	width: 100%;
	height: 400px;
	white-space: nowrap;
}








@media screen and (max-width: 900px) {
	.main {
		margin: 10% auto;
		width: 80%;
	}
	li {
		list-style-type: none;
	}
}




